* {
  box-sizing: border-box;
}

body {
  background-color: white; margin: 0 auto;
}
.flex-container{
  display: flex; justify-content: flex-start; width: 100%; 
}
.flex-column {
  display: flex; height: 100vh; flex: 1; flex-direction: column; 
  background-color: white;
  
}



.flex-item {
  flex-grow: 1; position: relative; 
  background-color: white; border: 4px solid hotpink;
  padding:1rem;  margin: 3px; 
}
/*  
.flex-item:hover{
  flex-grow: 10; height: 70vh; width: 100vh;
}
*/
.zoom1{flex-grow: 2; transition: all 300ms ease-in-out;}
.zoom2{flex-grow: 2; transition: all 300ms ease-in-out;}
